<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a routerLink="perfil" class="nav-link px-2">Perfil</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li *ngIf="tipoUsuario === 'Editor'"><a routerLink="misPublicaciones" class="nav-link px-2">Mis Publicaciones</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
      <li *ngIf="sesionIniciada && tipoUsuario === 'Editor'"><a routerLink="recargar-cartera" class="nav-link px-2">Recargar Cartera</a></li>
      <li *ngIf="sesionIniciada && tipoUsuario === 'Administrador'"><a routerLink="recargar-cartera-global" class="nav-link px-2">Cartera Global</a></li>
      <li *ngIf="sesionIniciada && tipoUsuario === 'Administrador'"><a routerLink="asignar-costo" class="nav-link px-2">Asignar Costos</a></li>
      <li *ngIf="sesionIniciada && tipoUsuario === 'Administrador'"><a routerLink="reportes" class="nav-link px-2">Reportes</a></li>
      <li *ngIf="sesionIniciada && tipoUsuario === 'Administrador'"><a routerLink="precio-anuncios" class="nav-link px-2">Precio Anuncios</a></li>
      <li *ngIf="sesionIniciada && tipoUsuario === 'Suscriptor'"><a routerLink="revistas" class="nav-link px-2">Revistas</a></li>
      <li *ngIf="sesionIniciada && tipoUsuario === 'Suscriptor'"><a routerLink="mis-suscripciones" class="nav-link px-2">Mis Suscripciones</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <ng-container *ngIf="!sesionIniciada; else logoutTemplate">
        <a routerLink="/login" class="btn btn-outline-primary me-2">Iniciar Sesion</a>
        <button routerLink="registro" type="button" class="btn btn-primary">Registrarse</button>
      </ng-container>
      <ng-template #logoutTemplate>
        <button (click)="cerrarSesion()" type="button" class="btn btn-outline-primary me-2">Cerrar Sesion</button>
      </ng-template>
    </div>
  </header>
</div>