<div class="container my-4">
    <h2>Actualizar Contraseña</h2>
    <form [formGroup]="contrasenaForm" (ngSubmit)="actualizarContrasena()">
      <div class="mb-3">
        <label for="nuevaContrasena" class="form-label">Nueva Contraseña:</label>
        <input type="password" class="form-control" id="nuevaContrasena" formControlName="nuevaContrasena">
        <div *ngIf="contrasenaForm.get('nuevaContrasena')?.invalid && contrasenaForm.get('nuevaContrasena')?.touched" class="text-danger">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmacionContrasena" class="form-label">Confirmar Contraseña:</label>
        <input type="password" class="form-control" id="confirmacionContrasena" formControlName="confirmacionContrasena">
        <div *ngIf="contrasenaForm.hasError('notSame') && contrasenaForm.get('confirmacionContrasena')?.touched" class="text-danger">
          Las contraseñas no coinciden.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
    </form>
  </div>
  