<div class="container my-4">
  <h2>Mis Publicaciones</h2>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li *ngFor="let publicacion of publicaciones" class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <h5 class="mb-1">{{ publicacion.titulo }}</h5>
              <p class="mb-1">{{ publicacion.descripcion }}</p>
              <small><strong>Categoría:</strong> {{ publicacion.categoria }}</small><br>
              <small><strong>Fecha de Creación:</strong> {{ publicacion.fechaCreacion | date: 'shortDate' }}</small><br>
              <small><strong>Permite Comentarios:</strong> {{ publicacion.permiteComentarios ? "Sí" : "No" }}</small><br>
              <small><strong>Permite Me Gusta:</strong> {{ publicacion.permiteMegusta ? "Sí" : "No" }}</small><br>
              <small><strong>Permite Suscripciones:</strong> {{ publicacion.permiteSuscripcion ? "Sí" : "No" }}</small>
            </div>
            <div class="col-md-4 text-center">
              <button class="btn mt-2" [ngClass]="{'btn-primary': publicacion.permiteComentarios, 'btn-secondary': !publicacion.permiteComentarios}" (click)="togglePermiteComentarios(publicacion.idRevista, publicacion.permiteComentarios)">
                {{ publicacion.permiteComentarios ? "Desactivar Comentarios" : "Activar Comentarios" }}
              </button>
              <br>
              <button class="btn mt-2" [ngClass]="{'btn-primary': publicacion.permiteMegusta, 'btn-secondary': !publicacion.permiteMegusta}" (click)="togglePermiteMeGusta(publicacion.idRevista, publicacion.permiteMegusta)">
                {{ publicacion.permiteMegusta ? "Desactivar Me Gusta" : "Activar Me Gusta" }}
              </button>
              <br>
              <button class="btn mt-2" [ngClass]="{'btn-primary': publicacion.permiteSuscripcion, 'btn-secondary': !publicacion.permiteSuscripcion}" (click)="togglePermiteSuscripcion(publicacion.idRevista, publicacion.permiteSuscripcion)">
                {{ publicacion.permiteSuscripcion ? "Desactivar Suscripciones" : "Activar Suscripciones" }}
              </button>
              <br>
              <button type="button" class="btn btn-primary mt-2" (click)="ingresarRevista(publicacion.idRevista)">Ingresar</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
 

  <button (click)="agregarNuevaRevista()" type="button" class="btn btn-success">Agregar Nueva Revista</button>
  <button (click)="eliminarRevistas()" type="button" class="btn btn-danger">Eliminar Revistas</button>
  
  <footer class="text-center py-4">
    <p> 2024 Revista Digital. Todos los derechos reservados.</p>
  </footer>
</div>
