<div class="container mt-5">
  <div class="jumbotron text-center bg-primary text-white p-5 rounded">
    <h1 class="display-4">¡Bienvenido a Revista Digital!</h1>
    <p class="lead">Descubre un mundo de conocimiento y entretenimiento a través de nuestra amplia colección de revistas.</p>
    <hr class="my-4">
    <p>Encuentra la categoría que más te guste y sumérgete en un sinfín de artículos fascinantes.</p>
  </div>

  <div *ngIf="isLoading" class="text-center">
    <p>Cargando categorías...</p>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="!isLoading && !errorMessage" class="row mt-4">
    <div class="col">
      <h3>Categorías</h3>
      <ul class="list-group">
        <li *ngFor="let categoria of categorias; let i = index" class="list-group-item">
          <a class="btn btn-link" [attr.data-bs-toggle]="'collapse'" [attr.href]="'#collapseCategory' + i" role="button" aria-expanded="false" [attr.aria-controls]="'collapseCategory' + i">
            <h4>{{ categoria.categoria }}</h4>
          </a>
          <div class="collapse" [attr.id]="'collapseCategory' + i">
            <div class="card card-body">
              <ul>
                <li *ngFor="let revista of categoria.revistas">
                  <strong>{{ revista.titulo }}</strong>: {{ revista.descripcion }}
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  
  